
<h1>CreateWithoutViewModel</h1>
<hr />
<div>
    <form asp-action="CreateWithoutViewModel">
        <input name="value" type="text" />
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
</div>