@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" class="chat-input-area">
    <div class="form-inline">
        <textarea asp-for="Message" class="input-text" rows="3"></textarea>
        <input class="btn" type="submit" value="投稿" />
    </div>
</form>

<div class="chat-logs">
    <partial name="_ChatLogsPartial" model="Model.Details" />
</div>