@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<form id="frmPostChat" asp-action="Index">
    <div class="chat-input-area wrapper">
        <div class="form-inline">
            <textarea id="txtAreaChatLog" asp-for="Message" class="input-text" rows="3"
                      placeholder="ここにテキストを入力（Enterで投稿 Shift+Enterで改行）"></textarea>
            <button id="btnPostChat" class="btn" type="button">投稿</button>
        </div>
    </div>
    <div class="chat-display-area">
        <div id="postChatLogErrors" class="validation-errors text-danger"><ul></ul></div>
        <div id="chatLogs" class="chat-logs">
            <partial name="_ChatLogsPartial" model="Model.Details" />
        </div>
    </div>
</form>
