@model IList<ChatLogViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="chat-logs">
    @foreach (var chatLog in Model)
    {
        <div>
            <div class="chat-log">
                <span class="post-at">@chatLog.PostAt</span>
                <div class="message">
                    <p>@chatLog.Message</p>
                </div>
            </div>
        </div>
    }
</div>