@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <div class="form-inline">
        <textarea asp-for="Message" class="input-text"></textarea>
        <input class="btn" type="submit" value="Post" />
    </div>
</form>

<div class="chat-logs">
    @foreach (var chatLog in Model.Details)
    {
        <div>
            <div class="chat-log">
                <span class="small">@chatLog.PostAt</span>
                <span class="small">@chatLog.Name</span>
                <div class="message">
                    <p>@chatLog.Message</p>
                </div>
            </div>
        </div>
    }
</div>