html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

a.brand {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav > ul {
    display: flex;
}

    nav > ul > li {
        list-style: none;
        margin-right: 15px;
    }

        nav > ul > li > a {
            text-decoration: none;
            color: white;
        }

header {
    width: 100%;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
}

body {
    margin-bottom: 80px;
    background-color: #f0f0f0;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    background: gray;
    color: white;
}

.chat-logs > div:after {
    content: "";
    display: block;
    clear: both;
}

.chat-log {
    margin-top: 20px;
    float: right;
}

    .chat-log .post-at {
        font-size: 70%;
    }

    .chat-log .message {
        padding: 10px;
        background: gray;
        border-radius: 30px 30px 30px 30px;
        color: white;
        position: relative;
    }

        .chat-log .message p {
            display: inline-block;
        }

            .chat-log .message p:after {
                content: "";
                position: absolute;
                top: 50%;
                right: -19px;
                border: 10px solid transparent;
                border-left: 18px solid gray;
            }

textarea {
    height: auto;
    resize: vertical;
}

.form-inline {
    margin: 10px 0;
    display: flex;
}

.btn, .input-message {
    outline: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.input-message {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
}

    .input-message:focus {
        box-shadow: 0 .25rem .75rem #000000;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        border: solid 2px gray;
    }

.btn {
    color: white;
    background-color: darkorange;
    border-color: darkorange;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem 0.75rem;
}

    .btn:focus, .btn:hover {
        color: white;
        background-color: gold;
        border-color: gold;
    }
