<header>
    <div class="wrapper">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="brand" asp-controller="Chat" asp-action="Index">ChatApp</a>
            <nav>
                <ul>
                    <li><a asp-controller="Chat" asp-action="Index">チャット</a></li>
                    @if (User.IsInRole(RoleConst.Admin))
                    {
                        <li><a asp-controller="User" asp-action="Index">ユーザー管理</a></li>
                    }
                </ul>

                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">@User.UserId()</a>
                    </li>
                </ul>
            </nav>
        }
        else
        {
            <span class="brand">ChatApp</span>
        }
    </div>
</header>