<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="brand" asp-controller="Chat" asp-action="Index">ChatApp</a>
        <nav>
            <ul>
                <li><a asp-controller="Chat" asp-action="Index">ChatApp</a></li>
                <li><a asp-controller="Chat" asp-action="Index">TBA</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer wrapper">
        BC2020
    </footer>
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
