<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_StyleSheetsPartial" />
    <partial name="_FaviconsPartial" />
</head>
<body>
    <partial name="_HeaderPartial" />
    <div class="wrapper">
        <main role="main">
            @{
                var messages = new[]
                {
                    (CssClass: "notification", Key: AppConst.TempDataKeyMessage),
                    (CssClass: "notification-warning", Key: AppConst.TempDataKeyWarning),
                };

                foreach (var (cssClass, key) in messages)
                {
                    var message = TempData[key]?.ToString();
                    if (!string.IsNullOrEmpty(message))
                    {
                        <div class="@cssClass">
                            @message
                        </div>
                    }
                }
            }
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterPartial" />
    <partial name="_ScriptsPartial" />
</body>
</html>
