<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_StyleSheetsPartial" />
    <partial name="_FaviconsPartial" />
</head>
<body>
    <partial name="_HeaderPartial" />
    <div class="wrapper">
        <main role="main">
            <partial name="_NotificationPartial" />
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterPartial" />
    <partial name="_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
