@using ChatApp.Models.Util
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="brand" asp-controller="Chat" asp-action="Index">ChatApp</a>
        <nav>
            <ul>
                <li><a asp-controller="Chat" asp-action="Index">チャット</a></li>
                @if (User.IsInRole(RoleConst.Admin))
                {
                    <li><a asp-controller="User" asp-action="Index">ユーザー管理</a></li>
                }
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main role="main">
            @{
                var messages = new[]
                {
                    (CssClass: "notification", Key: AppConst.TempDataKeyMessage),
                    (CssClass: "notification-warning", Key: AppConst.TempDataKeyWarning),
                };

                foreach (var (cssClass, key) in messages)
                {
                    var message = TempData[key]?.ToString();
                    if (!string.IsNullOrEmpty(message))
                    {
                        <div class="@cssClass">
                            @message
                        </div>
                    }
                }
            }
            @RenderBody()
        </main>
    </div>
    <footer class="footer wrapper">
        BC2020
    </footer>
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
