@{
    var messages = new[]
    {
        (CssClass: "notification", Key: AppConst.TempDataKeyMessage),
        (CssClass: "notification-warning", Key: AppConst.TempDataKeyWarning),
    };

    foreach (var (cssClass, key) in messages)
    {
        var message = TempData[key]?.ToString();
        if (!string.IsNullOrEmpty(message))
        {
            <div class="@cssClass">
                @message
            </div>
        }
    }
}