@{
    ViewData["Title"] = "ページが見つかりません";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1 class="text-danger">Error 404</h1>
    <h4>お探しのページは見つかりませんでした。 </h4>
    <p>
        URLが間違っている、又は 一時的にアクセスできない状況にあるか、削除された可能性があります。
    </p>
</div>