<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToTrace ="true">
  <!--Nlogのログ-->
   
  <!-- asp.net core 用のレイアウトレンダラーを有効化 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- ログファイル出力先ディレクトリ -->
  <variable name="logRootDir" value="${aspnet-appbasepath}/Infrastructure/Logging/Logs/" />

  <!-- ログファイル名フォーマット -->
  <variable name="logFileNameProd" value="ChatApp" />
  <variable name="logFileNameArchive" value="{#}" />
  <variable name="logFileExt" value=".log" />
  <variable name="logArchiveDays" value="2" />
  <variable name="logLayout" value="${longdate} ${level:uppercase=true:padding=-5} [${threadid:padding=3}] ${aspnet-Request-Method:padding=4} Controller:${aspnet-MVC-Controller} Action:${aspnet-MVC-Action} logger:${logger} Referrer:${aspnet-Request-Referrer} - ${message}${onexception: ${newline} ${exception:format=ToString}}" />

  <!-- 書き込み先ターゲット -->
  <targets>
    <target xsi:type="File" fileName="${logRootDir}/All/${logFileNameProd}${logFileExt}" name="logAll"
            layout="${logLayout}"
            archiveFileName="${logRootDir}/All/${logFileNameArchive}${logFileExt}" archiveEvery="Day"
            archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="${logArchiveDays}"/>
    <target xsi:type="File" fileName="${logRootDir}/${logFileNameProd}${logFileExt}" name="logInfo"
            layout="${logLayout}"
            archiveFileName="${logRootDir}/${logFileNameArchive}${logFileExt}" archiveEvery="Day"
            archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="${logArchiveDays}"/>
    <target xsi:type="File" fileName="${logRootDir}/Error/${logFileNameProd}${logFileExt}" name="logError"
            layout="${logLayout}"
            archiveFileName="${logRootDir}/Error/${logFileNameArchive}${logFileExt}" archiveEvery="Day"
            archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="${logArchiveDays}"/>
  </targets>
   
  <rules>
    <!--すべてのログ-->
    <logger name="*" minlevel="Trace" writeTo="logAll" />
     
    <!--重要でないMicrosoftのログ（Info）を除外-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logInfo" />
    <logger name="*" minlevel="Error" writeTo="logError" />
  </rules>
</nlog>