@model AccountChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>パスワード変更</h1>
<span>パスワードを変更します。</span>
<hr />
<form asp-action="ChangePassword">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="CurrentPassword"></label><span class="required-mark">必須</span>
        <input asp-for="CurrentPassword" class="input-text" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label><span class="required-mark">必須</span>
        <input asp-for="NewPassword" class="input-text" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirm"></label><span class="required-mark">必須</span>
        <input asp-for="NewPasswordConfirm" class="input-text" />
        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="btn" type="submit" value="パスワード変更" />
    </div>
</form>