<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_StyleSheetsPartial" />
    <partial name="_FaviconsPartial" />
</head>
<body>
    <header>
        <div class="wrapper">
            <span class="brand">ChatApp</span>
        </div>
    </header>
    <div class="wrapper">
        <main role="main">
            @if (ViewBag.Message != null)
            {
                <div class="notification">
                    @ViewBag.Message
                </div>
            }
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterPartial"/>
    <partial name="_ScriptsPartial" />
</body>
</html>