@model UserCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新規作成</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="input-text" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="input-text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>
            <input asp-for="IsAdministrator" /> @Html.DisplayNameFor(model => model.IsAdministrator)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="新規作成" class="btn" />
    </div>
</form>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>