@model UserEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ユーザー編集</h1>

<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserId)
                <input asp-for="UserId" type="hidden" />
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="input-text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>
            <input asp-for="IsAdministrator" /> @Html.DisplayNameFor(model => model.IsAdministrator)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="保存" class="btn" />
    </div>
</form>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>